

body, html {
    height: 100%;
    background-image: url(https://cutewallpaper.org/21/paw-print-wallpaper/Dog-Paw-Cat-Paw-Puppy-Kitten-Vector-Seamless-Pattern-Wallpaper-Background.jpg);
    background-attachment: fixed;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://figopetinsurance.com/sites/default/files/styles/blog_detail/public/imagedogssmall-dog-coffee-shop-ownerblog.jpg?itok=7NY8LtLD");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
    background-color: white; 

}

.footer{
    background-color: pink;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.pawbrewhero{
    font-family: 'Londrina Solid', cursive;
}

.card-title{
    text-align: center;
}
