/* CSS */

body,
html {
	height: 100%;
	background-color: white;
}

nav {
    background-color: #536872;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://figopetinsurance.com/sites/default/files/styles/blog_detail/public/imagedogssmall-dog-coffee-shop-ownerblog.jpg?itok=7NY8LtLD");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

* {
	box-sizing: border-box;
	font-family: ’Lato’, sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

footer {
	background-color: #536872;
	color: #bbb;
	line-height: 1.5;
}

footer a {
	text-decoration: none;
	color: #eee;
}

.ft-title {
	color: #fff;
	font-family: 'Londrina Solid', cursive;
	letter-spacing: 1px;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
}

.ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
}

.ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
}

@media only screen and (min-width: 29.8125rem) {
	.ft-main {
		justify-content: space-around;
	}
}

@media only screen and (min-width: 77.5rem
/*1240px*/

) {
	.ft-main {
		justify-content: space-evenly;
	}
}

form {
	display: flex;
	flex-wrap: wrap;
}


.ft-social {
	padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px white;
	padding-top: 1.25rem;
}

.ft-social-list li {
	margin: 0.5rem;
	font-size: 1.25rem;
}

.ft-legal-list li:nth-last-child(2) {
	flex: 1;
}

.pawbrewhero {
	font-family: 'Londrina Solid', cursive;
}

.card-title {
	text-align: center;
}

.hero-image-menu {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/photos/coffee-and-croissant-picture-id1165085589?k=6&m=1165085589&s=612x612&w=0&h=je7dJYcEMsEDkWhejRmJ3Op927bK0wyHkcdFOcj9yYs=");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.menu-headertext {
	font-family: 'Londrina Solid', cursive;
	text-align: center;
}

h1 {
	font-family: 'Londrina Solid', cursive;
	text-align: center;
}

h3 {
	font-family: 'Londrina Solid', cursive;
	text-align: center;
}

h5 {
	font-family: 'Londrina Solid', cursive;
	text-align: center;
}

.card-img-top {
	border-radius: 50%;
}

.container {
	position: relative;
	width: 50%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: darkslategrey;
}

.container:hover .overlay {
	opacity: 1;
}

.not-coffee {
	list-style-type: none;
	background-image: url("https://images.fridaymagazine.ae/1_2299511/imagesList_0/3213656976_main.jpg");
	padding: 50px;
	background-position: right;
	background-repeat: no-repeat;
	text-align: left;
	background-size: contain;
	color: black;
	border-radius: 50px;
	border-left-style: dotted;
}

.food {
	list-style-type: none;
	background-image: url("https://cdn.trendhunterstatic.com/phpthumbnails/309/309262/309262_1_800.jpeg");
	padding: 50px;
	background-position: left;
	background-repeat: no-repeat;
	text-align: right;
	background-size: contain;
	font-family: 'Londrina Solid', cursive;
	color: black;
	border-radius: 50px;
	border-right-style: dotted;
}

.coffee {
	list-style-type: none;
	background-image: url("https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581688713/DCUK/Content/iStock-938993594-1000x600.jpg");
	padding: 50px;
	background-position: left;
	background-repeat: no-repeat;
	text-align: right;
	background-size: contain;
	color: black;
	border-radius: 50px;
	border-right-style: dotted;
}

ol li {
	font-family: 'Londrina Solid', cursive;
}

.text {
	color: white;
	font-size: 20px;
	font-family: 'Londrina Solid', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#enquires {
	position: relative;
	font-family: 'Londrina Solid', cursive;
}

.lead {
	text-align: center;
}

.Jack-Russel-running {
	height: 328px;
	width: 450px;
	border-radius: 8px;
}

div .card {
	border: 0;
	margin-left: 10px;
	margin-right: 10px;
}

.slideshow-container {
	position: relative;
	background: white;
}

.mySlides {
	display: none;
	padding: 80px;
	text-align: center;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: darkslategray;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: darkslategray;
	color: white;
}

.dot-container {
	text-align: center;
	padding: 20px;
	background: white;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: darkseagreen;
}

q {
	font-style: italic;
}

.author {
	color: darkslategray;
}