

body, html {
    height: 100%;
    background-color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://figopetinsurance.com/sites/default/files/styles/blog_detail/public/imagedogssmall-dog-coffee-shop-ownerblog.jpg?itok=7NY8LtLD");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.footer{
    background-color: darkslategrey;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.pawbrewhero{
    font-family: 'Londrina Solid', cursive;
}

.card-title{
    text-align: center;
}

.hero-image-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/photos/coffee-and-croissant-picture-id1165085589?k=6&m=1165085589&s=612x612&w=0&h=je7dJYcEMsEDkWhejRmJ3Op927bK0wyHkcdFOcj9yYs=");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

 .coffee-menu{
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white
}

.notcoffee-menu{
    background-image:  url("https://ak.picdn.net/shutterstock/videos/25582520/thumb/1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white
  
}

.food-menu{
       background-image: url("https://image.freepik.com/free-photo/various-food-ingredients-dark-background-with-space-text-message_78502-110.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
}

.menu-headertext{
    font-family: 'Londrina Solid', cursive;
    text-align: center;

}

h1{
      font-family: 'Londrina Solid', cursive;
    text-align: center;
}

h3{
      font-family: 'Londrina Solid', cursive;
    text-align: center;
}

h5{
  font-family: 'Londrina Solid', cursive;
    text-align: center;  
}
.card-img-top{
    border-radius: 50%;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkslategrey;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Londrina Solid', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

