/* CSS */
 body, html {
     height: 100%;
     background-color: white;
}
 nav {
     background-color: #536872;
}
 .hero-image {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/asset/images/imagedogssmall-dog-coffee-shop-ownerblog.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .hero-image-meetourpups {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/asset/images/variousdogs.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .hero-image-menu{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/asset/images/dogincoffeebeans.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .hero-image-contact{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/asset/images/DOG-ON-PHONE.png");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .hero-image-location{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/asset/images/dog-looking-at-view.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     display: inline-block;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;
}
 .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
 ul {
     list-style: none;
     padding-left: 0;
}
 footer {
     background-color: #536872;
     color: #bbb;
     line-height: 1.5;
}
 footer a {
     text-decoration: none;
     color: #eee;
}
 .ft-title {
     color: #fff;
     font-family: 'Londrina Solid', cursive;
     letter-spacing: 1px;
     font-size: 1.375rem;
     padding-bottom: 0.625rem;
}
 .ft-main {
     padding: 1.25rem 1.875rem;
     display: flex;
     flex-wrap: wrap;
}
 .ft-main-item {
     padding: 1.25rem;
     min-width: 12.5rem;
}
 @media only screen and (min-width: 29.8125rem) {
     .ft-main {
         justify-content: space-around;
    }
}
 @media only screen and (min-width: 77.5rem 
/*1240px*/
 ) {
     .ft-main {
         justify-content: space-evenly;
    }
}
 form {
     display: flex;
     flex-wrap: wrap;
}
 .ft-social {
     padding: 0 1.875rem 1.25rem;
}
 .ft-social-list {
     display: flex;
     justify-content: center;
     border-top: 1px white;
     padding-top: 1.25rem;
}
 .ft-social-list li {
     margin: 0.5rem;
     font-size: 1.25rem;
}
 .ft-legal-list li:nth-last-child(2) {
     flex: 1;
}
 .pawbrewhero {
     font-family: 'Londrina Solid', cursive;
}
 .card-title {
     text-align: center;
}
 h1 {
     font-family: 'Londrina Solid', cursive;
     text-align: center;
}
 .card-img-top {
     border-radius: 50%;
}
 .container {
     position: relative;
     width: 50%;
}
 .image {
     display: block;
     width: 50%;
     height: auto;
     margin-left: 25%;
     border-radius: 14px;
}
 .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: auto;
     width: 50%;
     opacity: 0;
     transition: .5s ease;
     background-color: darkslategray;
     margin-left: 25%;
     border-radius: 14px;
}
 .container:hover .overlay {
     opacity: 1;
}
 .text {
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
 .lead {
     text-align: center;
}
 .Jack-Russel-running {
     height: 328px;
     width: 450px;
     border-radius: 8px;
}
 .slideshow-container {
     position: relative;
     background: white;
}
 .mySlides {
     display: none;
     padding: 80px;
     text-align: center;
}
 .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -30px;
     padding: 16px;
     color: darkslategray;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
}
 .next {
     position: absolute;
     right: 0;
     border-radius: 3px 0 0 3px;
}
 .prev:hover, .next:hover {
     background-color: darkslategray;
     color: white;
}
 .dot-container {
     text-align: center;
     padding: 20px;
     background: white;
}
 .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
}
 .active, .dot:hover {
     background-color: darkseagreen;
}
 q {
     font-style: italic;
}
 .author {
     color: darkslategray;
}
 ol{
     list-style: none;
}
 .coffee-img{
     width: 90%;
     height: 90%;
     border-radius: 30px;
}
 .notcoffee-img{
     width:90%;
     height:90%;
     border-radius: 30px;
}
 .food-img{
     width: 90%;
     height: 90%;
     border-radius: 30px;
}
 #coffee-col{
     padding-left: 40px;
}
 #notcoffee-col{
     padding: 40px;
}
 #food-col{
     padding: 40px;
}
 .card-menu{
     display: inline-block;
     padding: 40px;
}
 @media (min-width: 576px){
     .container, .container-sm {
         max-width: 540px;
    }
}
 .card-aboutus{
     margin-top: auto;
}
 .card-morethancoffee{
     margin-top: 25px;
}
 .card-charity{
     margin-top: 28px;
}
 .card{
     border-style: none !important;
}
